
.background {
  background-color: #ECEBE4;
}
.navbar {
  display: flex;
  align-items: center;
  background:#1a2228;
  padding: 40px 10%;
}

.navbar-title {
  color: aliceblue;
  margin-right: auto;
  font-family: 'Tangerine', cursive;  font-weight: bold;
  font-size: 100px;
  padding: 12px 20px; 
}

.navlink {
  padding: 16px 16px;
  vertical-align: middle;
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  position: relative;
}

.navlink:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #FAC05E;
	height: 1px;
	width: 0;
	transform: translateX(-50%);
	transition: all 0.3s linear;
}

.navlink:hover:before{
	width: 100%;
}


/*footer*/

.footer{
  display: flex;
  align-items:center;
  background: rgb(49, 53, 59);
  height: 35vh;
  justify-content: space-between;
}

.address {
  
  color: aliceblue;
  font-family: 'Tangerine', cursive;  font-weight: bold;
  font-size: 40px;
}

.footlink{

  padding: 20px 16px;
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  position: relative;
}


.footlink:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #FAC05E;
	height: 1px;
	width: 0;
	transform: translateX(-50%);
	transition: all 0.3s linear;

}
.footlink:hover:before{
	width: 100%;
}

.footlink1{

  padding: 20px 16px;
  color:whitesmoke;
  text-decoration: none;
  font-weight: bold;
  font-size: 150%;
  position: relative;
  

}


.footlink1:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #FAC05E;
	height: 1px;
	width: 0;
	transform: translateX(-50%);
	transition: all 0.3s linear;

}
.footlink1:hover:before{
	width: 100%;
}




/* home page */
.textbox{
  font-family: 'Cinzel', serif;
}




/* PRODUCE CONTAINER */
.produce-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 50px;
} 

.cheese-icon {
   display: flex; 
  align-items:center;
  justify-content: space-evenly; 
  padding-left: 750px;
}



.produce-link {
  padding: 16px 16px;
  color:rgb(49, 53, 59);
  text-decoration: none;
  font-family: 'Tangerine', cursive;  font-weight: bold;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  height: 300;
  width: 300;
  position: relative;
}

.produce-link:before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #FAC05E;
	height: 1px;
	width: 0;
	transform: translateX(-50%);
  transition: all 0.3s linear;
}
.produce-link:hover:before{
  width: 25%;
}



/* PRODUCE COMPONENT */
.produce-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.product-image {
  height: 45vh;
  width:  45vh;
  display: flex ;
  padding-left: 250px;

}

.product-name {
  padding-left: 250px;
}

/*contents container*/
.social-container {
  background: #eee;
  padding: 25px;
  display: flex;
  justify-content: center;
  
}

a.social {
  margin: 0 1rem;
  transition: transform 150ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-3px)
}