
.navbar {
  display: flex;
  align-items: center;
  background: rgb(49, 53, 59);
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.navbar-title {
  margin-right: auto;
  font-size: 250%;
  padding: 12px 16px; 
}

.navlink {
  padding: 16px 16px;
  vertical-align: middle;
  color:white;

}