
.navbar {
  display: flex;
  align-items: center;
  background:#1a2228;
  color: aliceblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding-bottom: 150px;
  
}

.navbar-title {
  margin-right: auto;
  font-size: 250%;
  padding: 12px 16px; 
}

.navlink {
  padding: 16px 16px;
  vertical-align: middle;
  color:whitesmoke;
  text-decoration: none;
  

}

.footer{
  background: rgb(49, 53, 59);;
  height: 40vh;
   
}
/* PRODUCE CONTAINER */
.produce-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* PRODUCE COMPONENT */
.produce-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}
.product-image {
  height: 45vh;
  width:  45vh;
  display: flex ;
  padding-left: 250px;

}

.product-name {
  padding-left: 250px;
}